body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.head{
    text-align: center;
    margin-top: 5%;
    letter-spacing: 3.6px;
    font-size: 18px;
    margin-bottom: 2%;
}
.headblok{
    padding-top: 2%;
    font-size: 86px;
    letter-spacing: 0px;
}

.slick-prev.slick-arrow{
    height: 96px;
    width: 96px;
    outline: none;
    border: 0;
    background: transparent;
     background-image: url(/images/Layer\ 10.png);
    font-size: 0;
}
.slick-next.slick-arrow{
    height: 96px;
    width: 96px;
    outline: none;
    border: 0;
    background: transparent;
     background-image: url(/images/Layer\ 10\ copy.png);
    font-size: 0;
}
.slick-slide.slick-current.slick-active{
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}
.slider-nav.slick-initialized.slick-slider{
    margin-bottom: 100px;
}

.slick-prev.slick-arrow{
   margin-left: 91%;
   position: absolute;
   margin-top: 9%;
   z-index: 99; 
}
.slick-next.slick-arrow{
    margin-left: 3%;
    position: absolute;
    margin-top: -16%;
    z-index: 99;
}